In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
datap = pd.read_csv("data/historical_state_population_by_year.csv", on_bad_lines='skip')
data = pd.read_csv("data/complete.csv", on_bad_lines='skip')
data['datetime'] = pd.to_datetime(data['datetime'], errors='coerce')
df=data[data["country"]=="us"].sort_index(level="datetime")
df = df.dropna(subset=['datetime'])
df = df.sort_values(by='datetime').reset_index(drop=True)
df=df.dropna()

C:\Users\anton\AppData\Local\Temp\ipykernel_86164\2401483028.py:5: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data/complete.csv", on_bad_lines='skip')

In [21]:
df["datetime"] = pd.to_datetime(df["datetime"], format="%Y-%m-%d", errors='coerce')
df["year"]=df["datetime"].dt.strftime("%Y")
df["year"]

0        1910
1        1910
2        1920
3        1925
4        1929
         ...
69490    2014
69491    2014
69492    2014
69493    2014
69495    2014
Name: year, Length: 65893, dtype: object

In [25]:
skibidi=pd.DataFrame([df["year"],df["state"]]).T
skibidi

       year state
0      1910    me
1      1910    tx
2      1920    in
3      1925    il
4      1929    or
...     ...   ...
69490  2014    ca
69491  2014    al
69492  2014    ct
69493  2014    mo
69495  2014    tn

[65893 rows x 2 columns]